* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #5f6366;
  padding: 26px;
}

.back {
  margin-top: 20px;
  cursor: pointer;
}
.back a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}

.main_text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
  color: #99ced3;
}
.main_paragraph {
  font-size: 15px;
  font-weight: normal;
  color: #ffffff;
  margin-top: 18px;
}


.scrollable-








main::after {
  position: absolute;
  left: 0;
  top: 510px;
  content: " ";
  display: block;
  height: 40px;
  border-bottom: 3px solid #a8a8a8;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 10px;
}
.footer_text {
  color: #fbfbfb;
  font-size: 14px;
}
.clickable_text {
  color: #99ced3;
  font-weight: 500;
  cursor: pointer;
}
