
* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-color: #5F6366;
  padding:26px;
}

header nav { 
  display: flex;
  justify-content: space-between;

}
.nav_ico{
  width: 160px;
}
.nav-icons{
  margin-left:10.3px;
}
.back {
  margin-top: 20px;
  cursor: pointer;
}
.back a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}

main::after {
  position: absolute;
  left: 0;
  top:492px;
  content: " ";
  display: block;
  height: 40px;
  border-bottom: 2px solid #a8a8a8
  ;
  width: 100%;

}


