* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #5f6366;
  padding: 26px;
}

.back {
  margin-top: 20px;
  cursor: pointer;
}
.back a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}

.main_text {
  margin-top: 10px;
  font-size: 18px;
  font-weight: normal;
  color: #99ced3;
}
.main_paragraph {
  font-size: 14.5px;
  font-weight: normal;
  color: #ffffffdb;
  margin-top: 15px;
  width: 100%;
}

.scrollable_div {
  max-height: 390px;
  overflow-y: scroll;
  overflow-x: hidden;

  margin-top: 0px;
  padding-bottom: 100px;
}
.scrollable_div::-webkit-scrollbar {
  display: none;
}

.choices_holder {
  color: white;
  color: #fbfbfbcd;
  display: flex;
  flex-direction: column;
}

.choice {
  margin-top: 25px;
  cursor: pointer;
}
.color {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  background-color: #f5d4db;
  margin-right: 10px;
}
.checked{
  position: relative;
}

.check {
  position: absolute;
  left: 2.5px;
  width:14px;
  margin-top: 6px;
  transform:translate(-2px);
  
  z-index: 100;
  text-align: center;
}


.green{
background-color: #03f4b7

;
}
.red{
background-color: #ff7878
;
}
.purple{
background-color: #d698ff
;
}
.yellow{
background-color: #f6ffaa
;
}
.purple2{
background-color: #f48eff
;
}
.grey{
background-color: rgb(214, 214, 214);
}






main::after {
  position: absolute;
  left: 0;
  top: 510px;
  content: " ";
  display: block;
  height: 40px;
  border-bottom: 3px solid #a8a8a8;
  width: 100%;
}
footer {
  position: absolute;
  bottom: 0px;
  width: 360px;
  height: 45px;
  background-color: #5f6366;
  padding-top: 5px;
}
.footer_text {
  color: #fbfbfb;
  font-size: 14px;
}
.clickable_text {
  color: #99ced3;
  font-weight: 500;
  cursor: pointer;
}
