
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_color{
  color:#4e6c9b;
  font-weight: bold;
}
.sec_color{
  color:#707070;
}

.page {
  width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;

}

.container {
  padding-left: 26px;
  padding-right: 22px;
  max-width: 360px;
  width: 360px;
  z-index: 1;
}

header {
  position: relative;
  border-top: 1px solid #5f6366;
}

header .container {
  padding-top: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
header .background {
  position: absolute;
  background-color: #5f6366;
  height: 90.7px;
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(1.5);
  transform-origin: center;
  width: 360px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.27);
  z-index: -1;
}


.logo img {
  width: 49.1px;
  height: 34px;
}

.header-image {
  width: 40px;
  height: 40px;
  position: relative;
}

.account {
  color: #fff;
}
.account-details {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
}
.account-symbol {
  width: 14px;
  height: 14px;
  background-color: #03f4b7;
  border-radius: 2px;
  margin-right: 0.5rem;
}
.account-name {
  font-size: 18px;
}
.account .arrow {
  margin-left: 0.5rem;
}
.customer-status {
  margin-top: 0.5rem;
  font-size: 14px;
  margin-left: 22px;
}

.header-image img {
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* starting card styles */

.add{
  background-color: #f9f9f9;
  position:relative;
<<<<<<< HEAD:css/send-3.css
  height:80px;
=======
  height: 230px;
>>>>>>> send-1:css/send-1.css
  transform: translateY(-30px);
  z-index:-20;
  color: #5f6366;
  display:flex;
<<<<<<< HEAD:css/send-3.css
  flex-direction:row;
  justify-content:space-between;
  padding:35px 25px 21px 25px;
  font-size:18px;
  font-weight:900;
=======
  flex-direction:column;
  justify-content:center;
  padding:30px 25px 21px 25px;
  font-size:18px
>>>>>>> send-1:css/send-1.css
}
.add p {
  font-weight: bolder;
}
<<<<<<< HEAD:css/send-3.css
.custom{
  font-size: 15px;
  display: inline-block;
  margin-bottom: 5px;
  cursor: pointer;
}
.custom_holder{
  transition: .5s ease-in-out;
  
}
.custom:hover{
  color:#1fb9a3;
  text-decoration:underline;
}
.form-container{
  width: 312.3px;
  height: 425px;
  margin: -10px 23px 0 24.8px;
  overflow-y: scroll;
  
}
.form-container::-webkit-scrollbar {
  display: none;
}

.label{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #707070;

}

 input[type="text"] {
  width: 310px;
  height: 42px;
  border-bottom: 1px solid #c4c4c4;
  color:#434343;
  font-size:18px;
  margin-bottom:20px;
}

input:focus { outline: none; }

input::placeholder{
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #5b5b5b;

}

.label-2{
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  color: #4e6c9b;
  margin-bottom:15px;

}
.result{
  display: flex;
=======


.address_from{
  font-size: 14px;
  font-weight:bold;
  text-align: center;
}
.address{
  font-size: 12px;
  text-align: center;
}

.fromTo{
  margin-top:25px;
  display:grid;
  grid-template-columns: 3fr 1fr 3fr;
}
.from_cont, .trans_cont, .to_cont{
  text-align:center;
}
.trans_cont{
  padding-top:10px;
}

.send{
  text-align: center;
  font-size:16px;
}
.amount{
  text-align: center;
  font-size: 40px;
  font-weight: 900;
}

.main-section{
  padding:0px 24px 20px 26px;
}


.row{
  margin-top:20px;
  display:grid;
  grid-template-columns:1fr 1.5fr
}

.number{
  text-align: right;
  font-size: 20px;
  font-weight: 900;
  
}

.gas{
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  
}




.conv_rate{
  font-size: 13px;
  text-align: right;
}

.sec_text{
  font-size: 14px;
  margin-left: 10px;
  text-align: left;
  
>>>>>>> send-1:css/send-1.css
}
.result_text{
  font-size: 16px;
  text-align: left;
  color: #707070;
  margin-top:15px;
  margin-left: 10px;

<<<<<<< HEAD:css/send-3.css
}
.res_img{
  margin-bottom:20px;
}
.btn{
  width: 300px;
  height: 50px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.56;
  letter-spacing: normal;
  text-align: center;
  color: #4e6c9b;
}
.back{
  margin-top:0px;
  background-color: #ffffff;
  border-radius:13px;
  border:2px solid #1fb9a3;
  transition:.4s ease-in-out;
}
.back:hover{
  color: #ffffff;
  background-color:#1fb9a3;
  border-radius: 0px;
=======








button{
  width: 300px;
  height: 50px;
  
  background-color: white;
  font-size: 18px;
  color:#ffffff;
  display: block;
}
#next:hover{
  color: #1d1d1d;
  background-color:#ffffff;
  border: 2px solid  #1fb9a3;
}
#next{
  margin-top:24px;
  width: 310px;
  height: 50px;
  padding: 13.4px 127px 13.6px;
  border-radius: 9px;
  margin-left:-5px;
  background-color: #1fb9a3;
>>>>>>> send-1:css/send-1.css
}
#cancel{
  
  border : none;
  color: #1d1d1d;
  margin-bottom: 15px;
}

