* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #5f6366;
  padding: 26px;
}

.back {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.back a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
.new_contact {
  font-size: 20px;
  color: #9acdd1ac;
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}
#add_contact {
  font-size: 16px;
  font-weight:lighter;
  color:rgba(255, 255, 255, 0.775);
}

.main_text {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
}

.sec_text {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}

input {
  width: 305px;
  height: 42px;
  background-color: #5f6366;
  border-bottom: 1px solid #c4c4c4;
  color:#434343;
  font-size:18px;
  margin-top:35px;
  padding-bottom: 10px;
  cursor: pointer;
}

.address_lbl{
  color: white;
  font-size:16px;
  
  
}

input:focus { outline: none; }


input::placeholder {
  color: white;
}



.create{ 
  width: 310px;
  height: 50px;
  padding: 13.4px 140px 13.6px;
  border-radius: 12px;
  background-color: #1fb9a3;
  margin-top: 121px;
  font-size: 18px;
  color:white;
  cursor: pointer;
}
.create:hover{
  background-color: azure;
  color:#1fb9a3;
  border:3px solid #1fb9a3;
}

