
* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #5f6366;
  padding: 26px;
}
/*HEADER*/
.back {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.back a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
.new_contact {
  font-size: 20px;
  color: #9acdd1;
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}
#add_contact {
  font-size: 16px;
  font-weight:lighter;
  color:rgba(255, 255, 255, 0.775);
}





/*MAIN*/
.main_text {
  font-size: 16px;
  text-align: left;
  color: #ffffff;

}

.sec_text {
  font-size: 11px;
  font-weight: lighter;
  text-align: left;
  color: #9acdd1ce;
  margin-top: 6px;

}

.scrollable_div{
  max-height:430px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top :0px;
  padding-top:5px;
  padding-bottom: 60px;

}
.scrollable_div::-webkit-scrollbar {
  display: none;
  
}

input[type="text"]  {
  width: 100%;
  height: 55px;
  color: rgb(255, 255, 255);
  background-color:#5f6366;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid white;
}

input:focus { outline: none; }

input::placeholder {
  color: rgba(255, 255, 255, 0.755);
}


/*sections*/
section{
  margin-top:20px;
  border-bottom: 1px solid #a0a0a0;
  padding-bottom: 20px;
}








/*button*/
.main_btn{
  width: 305px;
  height: 50px;
  margin: 20.6px 0 0;

  border-radius: 6px;
  border: solid 1px #9acdd1;
  background-color: #505355;
  transition: .4s ease-in-out;
  /*text*/
  font-size: 14px;
  color: #ffffff;
}
.main_btn:hover{
  border-radius: 0px;
  background-color: white ; 
  color:#9acdd1;
  font-size: 16px;
}





/*SWITCH*/
.switch_holder{
  display:grid;
  grid-template-columns: 5fr 1fr;
  margin-top:20px;
  margin-bottom:10px; 
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(250, 250, 250);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: -2px;
  bottom:-1px;
  background-color: #9acdd1;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}