* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #5f6366;
  padding: 26px;
}

.back {
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.back a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
.new_contact {
  font-size: 20px;
  color: #9acdd1;
  display: flex;
  justify-content: space-between;
  margin-top:20px;
}
#add_contact {
  font-size: 16px;
  font-weight:lighter;
}

.main_text {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  color: #ffffff;
}

.sec_text {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.contacts{
  display:flex;
  flex-direction:column;
}


.contact{
  display:flex;
  margin-top: 20px;
  padding: 10px 23.9px 10px 10px;
  border-radius: 5px;
  border: solid 1px #edb3bf;
  background-color: #505355;
}
.col-2{
  width:180px;
  margin-left: 10px;
}
.name{
  color: #ffffff;
  color: #ffffff;
}
.eth{
  font-size: 14px;
  color: #ffffff76;
  width:80px
}