
* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 360px;
  height: 600px;
  margin: auto;
  margin-top: 5rem;
  border: 1px solid #d9d9d9;
  overflow: hidden;
  font-size: 18px;
  position: relative;
  font-family: 'Poppins', sans-serif;
  background-color: #5F6366;
  padding:26px;
}

header nav { 
  display: flex;
  justify-content: space-between;

}
.nav_ico{
  width: 160px;
}
.nav-icons{
  margin-left:10.3px;
}
.back {
  margin-top: 20px;
  cursor: pointer;
}
.back a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
.user_account{
  margin-top:12px;
  font-size: 20px;
  font-weight: lighter;
  text-align: left;
  color: #fbeef0;
}

.gallery{
  margin-top:20px;
 display:grid;
 grid-template-columns: 25% 25% 25% 25%;
 row-gap: 24px;
 column-gap:2px;
 padding-bottom:31px ;

}
.gallery::after {
  position: absolute;
  left: 0;
  top:310px;
  content: " ";
  display: block;
  height: 40px;
  border-bottom: 2px solid #a8a8a8;
  width: 100%;

}
.action_container{
  display:grid;
  grid-template-columns:87px 87px 87px;
  justify-content:space-between;
  margin-top:40px;

  
}

.dotted_div{

}
.image_container{
  height:84px;
  width: 87px;
  text-align:center;
  padding-top: 31px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='7' ry='7' stroke='white' stroke-width='5' stroke-dasharray='8' stroke-dashoffset='19' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 7px;
}
.illust{
  text-align: left;
  padding-top:5px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 100;
  width: 100px;
}
main::after {
  position: absolute;
  left: 0;
  top:492px;
  content: " ";
  display: block;
  height: 40px;
  border-bottom: 2px solid #a8a8a8
  ;
  width: 100%;

}
footer{
  cursor: pointer;
  margin-top:50px
}
.footer_container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer_text{
  font-weight: 100;
  margin-left: 10px;
  color :rgb(226, 226, 226);
  font-size: 17px;
}
#settings{
  display: flex;
}
#lock_acc{
  display: flex;
}

