/*@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');*/
.viewport {
  background-color: #5f6366;
  width: 360px;
  height: 600px;
  margin: 0 auto;
  padding: 26px;
  color: white;
  font-size: 18px;
}


.back {
  margin-top: 20px;
  cursor: pointer;
}
.back a {
  margin-left: 5px;
  text-decoration: none;
  color: white;
}
.q_dets {
  font-size: 19px;
  color: #f5d4db;
  margin-top: 20px;
}
.main__text {
  width: 291px;
}

.cols {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.cols__text {
  margin: 18.5px; /*TODO: figuer out what the correct margin is*/
}
/* #odd0{
    width:63px;
}
#odd1{
    width:114px;
}*/
#odd1{
    margin-left: -6px;
    width : 114px;
} 
.price_container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 407px;
  scroll-behavior: smooth;

}
::-webkit-scrollbar {
    display: none;
}

.prices {
  background-color: #505355;
  border: 1px solid #707070;
  padding: 12px;
  font-size: 14px;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
}
.n2{
    margin-left: -20px;
}
.prices:hover{
    border: 2px solid  #edb3bf;
    background-color: #343434;
}
.apprv {
  width: 26px;
  text-align: center;
  padding: 1px 9px;
  border-radius: 5px;
  margin-left: 30px;
}


#apprv_pink1 {
  background-color: #edb3bf;
}
#apprv_pink2 {
  background-color: #edb3bf;
}
#apprv_green {
  background-color: #03F4B7;
  color:#5F6366;
}
#apprv_green:hover {
    color:aliceblue;
}

#apprv_red {
  background-color: #FF6E6E;
}
#percentage{
    color:#bdbdbd;
}
.select{
    font-size:18px;
    color: #1d1d1d;
    margin-top:80px;
    background-color:#F5D4DB;
    border:1px solid #EDB3BF;
    transition: .5s ease-in-out;
    padding:15px;   
    margin-bottom: 60px;

}
.select:hover{
    background-color:#f9f9f9;
    color:#f8b9c2;
}